@using ABM.Paie.Extensions
@using ABM.Paie.Models

<MudMenu Class="layout-menu" Dense="true"
         AnchorOrigin="@AnchorOrigin" TransformOrigin="@TransformOrigin">
    <ActivatorContent>
        <MudButton Href="@Activator.Href" Target="@Activator.Target"
                   Variant="@Variant" EndIcon="@Icon">
            <MudText><span class="@Activator.Css">@Activator.Text</span></MudText>
        </MudButton>
    </ActivatorContent>
    <ChildContent>
        @foreach (var item in Items)
        {
            <MudMenuItem Href="@item.Href" Target="@item.Target">@item.Text</MudMenuItem>
        }
    </ChildContent>
</MudMenu>

@code {
    [Parameter]
    public required Link Activator { get; set; }

    [Parameter]
    public IEnumerable<Link> Items { get; set; } = new Link[0];

    public string? Icon => Items.Any() ? Icons.Material.Filled.KeyboardArrowDown : null;

    [Parameter]
    public Origin AnchorOrigin { get; set; } = Origin.BottomLeft;

    [Parameter]
    public Origin TransformOrigin { get; set; }

    [Parameter]
    public Variant Variant { get; set; }
}
