@page "/"
@using ABM.Paie.Components
@using ABM.Paie.Enumerations
@using ABM.Paie.Extensions
@using ABM.Paie.Helpers
@using ABM.Paie.Models
@using ABM.Paie.Resources

@{
    var quotes = Quotes.GetAll().ToRandomizedList();

    var quotes1 = quotes[0..6];
    var quotes2 = quotes[6..12];
    var quotes3 = quotes[12..18];
    var quotes4 = quotes[18..24];
    var quotes5 = quotes[24..30];

    IEnumerable<string> values = ["Animation", "Qualité", "Respect", "Originalité", "Curiosité"];
}

<PageTitle>ABM Paie</PageTitle>

<div class="center">

    <MudImage Src="/images/logos/abm-paie_banner.png" Alt="ABM Paie - Formations sur My Silae" 
              Style="height:auto;max-width:85%;min-width:450px;
                     border:solid;border-color:black;border-radius:1rem;border-width:medium;" />
    
    <h1>Faire découvrir, progresser et se perfectionner</h1>
    
    <Paragraph>
        Mon objectif est de faire monter en compétence vos gestionnaires de paie sur les domaines de la paie et de la DSN via le logiciel My Silae.
    </Paragraph>

    <QuoteCarousel Quotes="quotes1" />

    <div class="d-flex center">
        <div>
            <h2>3300+ heures de formations dispensées chez Silae</h2>
            <LinkButton Link="@(new Link(UriHelper.Get(Section.Chiffres)))" />
        </div>
        <div>
            <h2>8 ans d'expérience Silae : Formatrice et Responsable Silae Académie</h2>
            <LinkButton Link="@(new Link(UriHelper.Get(Section.Silae)))" />
        </div>
        <div>
            <h2>430+ formations dispensées chez Silae</h2>
            <LinkButton Link="@(new Link(UriHelper.Get(Section.Chiffres)))" />
        </div>
    </div>
    
    <Paragraph Css="bold">
        Découvrez le catalogue de formation ABM Paie au travers de tous les programmes de formation
    </Paragraph>
    <LinkButton Link="@(new Link("https://abmformation.catalogueformpro.com"))" />

    <QuoteCarousel Quotes="quotes2" />
    
    <h1>Gérez et visualisez votre apprentissage : <span class="black-text" style="font-family:'Segoe Script';white-space:nowrap;">le <span class="green-text">b.a.-b</span>Mp<span class="green-text">a</span>ie</span></h1>
    
    <div class="center flex-wrap">
        <img src="/images/digiforma/ABMq_Espace_Digiforma.png" alt="Espace Digiforma" width="450">
        <div class="center flex-column">
            <h2>Apprenant :</h2>
            <Paragraph>
                Visualisez votre courbe de progression, vos compétences acquises, vos temps de formation et vos scores de formation, dans un espace personnalisé dédié à votre montée en compétence.
            </Paragraph>
        </div>
    </div>
    
    <QuoteCarousel Quotes="quotes3" />

    <div class="d-flex flex-column center">
        <h1>ABM Paie, c'est</h1>
        <Paragraph Css="bold">Satisfaction : 95 %</Paragraph>
        <LinkButton Link="@(new Link(UriHelper.Get(Section.Indicateurs)))" />
        
        <h1>Mes valeurs</h1>
        <ValuesItem Values="@values" />
        <LinkButton Link="@(new Link(UriHelper.Get(Section.Valeurs)))" />
    </div>

    <QuoteCarousel Quotes="quotes4" />

    <div id="actualites" class="d-flex flex-column center">
        <h1>Mes actualités</h1>
        <MudCard>
            <MudCardHeader>
                <Paragraph Css="bold">Décembre 2024</Paragraph>
            </MudCardHeader>
            <MudCardMedia Image="/images/formations/ABMq_Absences.jpg" Height="300" />
            <MudCardContent>
                <Paragraph>
                    La formation
                </Paragraph>
                <Paragraph Css="italic">
                    Absences en heures mensualisées
                </Paragraph>
            </MudCardContent>
            <MudCardActions>
                <LinkButton Link="@(new Link(UriHelper.Get(Constants.Actualite)))" />
            </MudCardActions>
        </MudCard>
    </div>
    
    <QuoteCarousel Quotes="quotes5" />

    <div id="partenariats" class="d-flex flex-column center">
        <h1>Partenariats</h1>
        <MudCard>
            <MudCardMedia Image="https://static.wixstatic.com/media/5bc43a_e8d3d16eefd8470ab97f4eee74f65d9e~mv2.jpg/v1/fill/w_474,h_486,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Logo%20Facilae_edited.jpg" Height="220" />
            <MudCardContent>
                <Paragraph>Facilite vos migrations et vos paramétrages dans Silae...</Paragraph>
                <LinkButton Link="@(new Link("https://www.facilaepaie.com", "visiter Facilae Paie", css: "teal-text text-darken-1"))" />
            </MudCardContent>
        </MudCard>
    </div>
</div>
