@page "/"

@{
    var quotes = new List<string[]>()
    {
        new[] { "Rien ne prédispose plus au conformisme que le manque de formation.", "Gustave Thibon" },
        new[] { "Le savoir est la seule matière qui s'accroit avec le partage.", "Socrate" },
        new[] { "L'apprentissage est un trésor qui suivra son propriétaire partout.", "Proverbe chinois" },
        new[] { "Tu me dis, j'oublie. Tu m'enseignes, je me souviens. Tu m'impliques, j'apprends.", "Benjamin Franklin" },
        new[] { "C'est ce que nous pensons déjà connaître qui nous empêche souvent d'apprendre.", "Claude Bernard" },
        new[] { "On commence à vieillir quand on finit d'apprendre.", "Proverbe japonais" },
        new[] { "Qui a peur de poser des questions a honte d'apprendre.", "Proverbe danois" },
        new[] { "Chaque difficulté rencontrée doit être l'occasion d'un nouveau progrès.", "Pierre de Coubertin" },
        new[] { "On ne vide pas l'océan avec un coquillage.", "Proverbe japonais" },
        new[] { "Le secret du changement, c'est de concentrer toute notre énergie non pas à lutter contre le passé mais à construire l'avenir.", "Socrate" },
        new[] { "Un bon maçon ne rejette aucune pierre.", "Proverbe néerlandais" },
        new[] { "Le chemin du succès se bâtit sur une série d'échecs sans perdre son enthousiasme.", "Winston Churchill" },
        new[] { "La vérité de demain se nourrit de l'erreur d'hier.", "Antoine de Saint-Exupéry" },
        new[] { "Les chefs-d'œuvre ne sont jamais que des tentatives heureuses.", "George Sand" },
        new[] { "Dans la vie rien n'est à craindre tout est à comprendre.", "Marie Curie" },
        new[] { "Ne craignez pas d'être lent, craignez seulement d'être à l'arrêt.", "Proverbe chinois" },
        new[] { "La curiosité mène à tout : parfois à écouter aux portes, parfois à découvrir l'Amérique.", "José Maria Eça de Queiros" },
        new[] { "Si vous pensez que la formation coûte cher, songez au prix de l'ignorance.", "Ray Kroc" },
        new[] { "Nous nous voyons comme des oeuvres d'art inachevées. Nous passons de plus en plus de temps à corriger, à améliorer notre corps. Nous sommes toujours en formation, jamais finis.", "Jeremy Rifkin" },
        new[] { "Le sens de la vie c'est apprendre toujours, apprendre et transmettre parce que transmettre c'est donner, donner c'est aider, aider c'est avancer, avancer c'est grandir.", "Zineve" },
        new[] { "J'essaie toujours de faire ce que je ne sais pas faire, c'est ainsi que j'espère apprendre à le faire.", "Pablo Picasso" },
        new[] { "Ne regrette rien, il faudra toujours continuer à apprendre et à te perfectionner, et ce n'est pas à l'école que tu pourras le faire. L'école donne des diplômes, mais c'est dans la vie qu'on se forme.", "Amadou-hampâté-bâ" },
        new[] { "La véritable éducation, c'est d'apprendre comment penser, et non pas quoi penser.", "Jiddu-krishnamurti" },
        new[] { "Je suis toujours prêt à apprendre, bien que je n'aime pas toujours qu'on me donne des leçons.", "Winston Churchill" },
        new[] { "Ce que nous devons apprendre à faire, nous l'apprendrons en le faisant.", "Aristote" },
        new[] { "Il faut apprendre pour connaître, connaître pour comprendre, comprendre pour juger.", "Narada" },
        new[] { "Il faut apprendre, non pas pour l'amour de la connaissance, mais pour se défendre contre le mépris dans lequel le monde tient les ignorants.", "Charlie Chaplin" },
        new[] { "Quand tu parles, tu ne fais que répéter ce que tu sais. Mais quand tu écoutes, tu peux apprendre quelque chose de nouveau.", "Dalaï-lama Tenzin-Gyatso" },
        new[] { "Celui qui aime à apprendre est bien près du savoir.", "Confucius" },
        new[] { "Il est impossible d'apprendre un métier tout seul. Une bougie s'allume au contact de la flamme d'une autre bougie. Si elle ne s'en approche pas elle restera éteinte.", "Sultan Valad" },
    };

    var r = new Random();
    var n = quotes.Count;

    while (n > 1) {
        n--;
        var k = r.Next(n + 1);
        var temp = quotes[k];
        quotes[k] = quotes[n];
        quotes[n] = temp;
    }

    var quotes1 = quotes[0..6];
    var quotes2 = quotes[6..12];
    var quotes3 = quotes[12..18];
    var quotes4 = quotes[18..24];
    var quotes5 = quotes[24..30];
}

<PageTitle>ABM Paie</PageTitle>

<div style="text-align:center">

    <div class="center indigo lighten-4 white-text" style="margin:50px 0px 100px 0;">
        <MudText Style="padding:30px 10px" Typo="Typo.h3">
            ABM Paie - Formations sur MySilae
        </MudText>
    </div>
    
    <div class="center" style="margin:30px 0;">
    	<MudText Class="indigo-text" Typo="Typo.h5">
            <b>Faire découvrir, progresser et se perfectionner</b>
    	</MudText>
    </div>
    
    <div class="center" style="margin:20px 0 50px 0;">
        <MudText Typo="Typo.h6">
    		Mon objectif est de faire monter en compétence vos gestionnaires de paie sur les domaines de la paie et de la DSN via le logiciel MySilae.
    	</MudText>
    </div>
    
    <MudCarousel Class="mud-width-full white-text" Style="height:180px;" ShowBullets="false" TData="object" AutoCycleTime="TimeSpan.FromSeconds(10)">
        @foreach(var quote in quotes1)
        {
			<MudCarouselItem Class="center indigo lighten-4 white-text" Transition="Transition.Fade" Style="margin:50px 0px;">
				<div style="width:80%;"><i>@quote[0]</i> <span class="indigo-text" style="white-space:nowrap;">@quote[1]</span></div>
            </MudCarouselItem>
        }
    </MudCarousel>
    
    <div class="center" style="margin:60px 0;">
        <div style="margin:0px 20px">
            <MudText Class="indigo-text" Typo="Typo.h5">
                <b>3300+ heures de formations dispensées chez Silae</b><br />
            </MudText>
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" 
                Href="/Experience/Chiffres" 
                EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                en savoir plus
            </MudButton>
    	</div>
        <div style="margin:0px 20px">
    		<MudText Class="indigo-text" Typo="Typo.h5">
                <b>8 ans d'expérience Silae : Formatrice et Responsable Silae Académie</b><br />
            </MudText>
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" 
                Href="/Experience/Silae" 
                EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                en savoir plus
            </MudButton>
        </div>
        <div style="margin:0px 20px">
            <MudText Class="indigo-text" Typo="Typo.h5">
                <b>430+ formations dispensées chez Silae</b><br />
            </MudText>
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" 
                Href="/Experience/Chiffres" 
                EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                en savoir plus
            </MudButton>
        </div>
    </div>
    
    <div class="center" style="margin:80px 0 60px 0;">
        <MudText Typo="Typo.h6">
            <b>Découvrez le catalogue de formation ABM Paie au travers de tous les programmes de formation</b><br />
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" 
                Href="https://abmformation.catalogueformpro.com" Target="_blank" 
                EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                en savoir plus
            </MudButton>
        </MudText>
    </div>
    
    <MudCarousel Class="mud-width-full white-text" Style="height:180px;" ShowBullets="false" TData="object" AutoCycleTime="TimeSpan.FromSeconds(10)">
        @foreach (var quote in quotes2)
        {
            <MudCarouselItem Class="center indigo lighten-4 white-text" Transition="Transition.Fade" Style="margin:50px 0px;">
                <div style="width:80%;"><i>@quote[0]</i> <span class="indigo-text" style="white-space:nowrap;">@quote[1]</span></div>
            </MudCarouselItem>
        }
    </MudCarousel>
    
    <div class="center" style="margin:60px 0;">
        <MudText Class="indigo-text" Typo="Typo.h5">
			<b>Gérez et visualisez votre apprentissage : <span class="black-text" style="font-family:'Segoe Script';white-space:nowrap;">le <span class="green-text">b.a.-b</span>Mp<span class="green-text">a</span>ie</span></b>
        </MudText>
    </div>
    
    <div class="center flex-wrap" style="margin:40px 0">
        <img src="/images/digiforma/ABMq_Espace_Digiforma.png" alt="Espace Digiforma" width="450" style="margin:0 10px;">
        <div class="center flex-column" style="max-width:450px;margin:30px 10px;">
            <MudText Typo="Typo.h5" Style="margin:20px 0;">Apprenant :</MudText>
            <MudText>
                Visualisez votre courbe de progression, vos compétences acquises, vos temps de formation et vos scores de formation, dans un espace personnalisé dédié à votre montée en compétence.
            </MudText>
        </div>
    </div>
    
    <MudCarousel Class="mud-width-full white-text" Style="height:180px;" ShowBullets="false" TData="object" AutoCycleTime="TimeSpan.FromSeconds(10)">
        @foreach (var quote in quotes3)
        {
            <MudCarouselItem Class="center indigo lighten-4 white-text" Transition="Transition.Fade" Style="margin:50px 0px;">
                <div style="width:80%;"><i>@quote[0]</i> <span class="indigo-text" style="white-space:nowrap;">@quote[1]</span></div>
            </MudCarouselItem>
        }
    </MudCarousel>
    
    <div class="center" style="margin:60px 0;">
    	<div style="width:stretch;">
            <MudText Class="indigo-text" Typo="Typo.h5">
                <b>ABM Paie, c'est</b>
            </MudText>
            <MudText Typo="Typo.h5" Style="margin:20px;">Satisfaction : 95 %</MudText>
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text"
                Href="/ABM-Paie/Indicateurs" 
                EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                en savoir plus
            </MudButton>
            <br />
            <MudText Class="indigo-text" Typo="Typo.h5" Style="margin:100px 0 0 0;">
                <b>Mes valeurs</b>
            </MudText>
            <div class="d-flex flex-wrap justify-content-between indigo lighten-2" style="margin:30px 0;width:stretch;">
                <div style="width:80px;" /><div style="width:80px;" /><div style="width:120px;"><MudText Class="white" Typo="Typo.h6">Animation</MudText></div><div style="width:80px;" /><div style="width:80px;" />
			</div>
            <div class="d-flex flex-wrap justify-content-between indigo lighten-2" style="margin:30px 0;width:stretch;">
                <div style="width:120px;"><MudText Class="white" Typo="Typo.h6">Qualité</MudText></div><div style="width:80px;" /><div style="width:80px;" /><div style="width:80px;" /><div style="width:80px;" />
			</div>
            <div class="d-flex flex-wrap justify-content-between indigo lighten-2" style="margin:30px 0;width:stretch;">
                <div style="width:80px;" /><div style="width:80px;" /><div style="width:80px;" /><div style="width:120px;"><MudText Class="white" Typo="Typo.h6">Respect</MudText></div><div style="width:80px;" />
            </div>
            <div class="d-flex flex-wrap justify-content-between indigo lighten-2" style="margin:30px 0;width:stretch;">
                <div style="width:80px;" /><div style="width:120px;"><MudText Class="white" Typo="Typo.h6">Originalité</MudText></div><div style="width:80px;" /><div style="width:80px;" /><div style="width:80px;" />
			</div>
            <div class="d-flex flex-wrap justify-content-between indigo lighten-2" style="margin:30px 0;width:stretch;">
                <div style="width:80px;" /><div style="width:80px;" /><div style="width:80px;" /><div style="width:80px;" /><div style="width:120px;"><MudText Class="white" Typo="Typo.h6">Curiosité</MudText></div>
			</div>
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" 
                Href="/ABM-Paie/Valeurs"
                EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                en savoir plus
            </MudButton>
        </div>
    </div>
    
    <MudCarousel Class="mud-width-full white-text" Style="height:180px;" ShowBullets="false" TData="object" AutoCycleTime="TimeSpan.FromSeconds(10)">
        @foreach (var quote in quotes4)
        {
            <MudCarouselItem Class="center indigo lighten-4 white-text" Transition="Transition.Fade" Style="margin:50px 0px;">
                <div style="width:80%;"><i>@quote[0]</i> <span class="indigo-text" style="white-space:nowrap;">@quote[1]</span></div>
            </MudCarouselItem>
        }
    </MudCarousel>
    
    <div class="center" style="margin:50px 0;">
        <div>
            <MudText Class="indigo-text" Typo="Typo.h5">
                <b>Mes actualités</b>
            </MudText>
			<MudCard Style="width:300px;margin:20px 0;">
                <MudCardHeader>
					<MudText Typo="Typo.h6">
                        Décembre 2024
                    </MudText>
                </MudCardHeader>
                <MudCardMedia Image="/images/formations/ABMq_Absences.jpg" Height="300" />
                <MudCardContent>
                    <MudText Typo="Typo.body1">
                        La formation<br /><i>Absences en heures mensualisées</i>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" 
                        Href="/Actualites" 
                        EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                        en savoir plus
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </div>
    </div>
    
    <MudCarousel Class="mud-width-full white-text" Style="height:180px;" ShowBullets="false" TData="object" AutoCycleTime="TimeSpan.FromSeconds(10)">
        @foreach (var quote in quotes5)
        {
			<MudCarouselItem Class="center indigo lighten-4 white-text" Transition="Transition.Fade" Style="margin:50px 0px;">
                <div style="width:80%;"><i>@quote[0]</i> <span class="indigo-text" style="white-space:nowrap;">@quote[1]</span></div>
            </MudCarouselItem>
        }
    </MudCarousel>
    
    <div class="center" style="margin:30px 0 60px 0;">
    	<div>
            <MudText Class="indigo-text" Typo="Typo.h5">
                <b>Partenariats</b>
            </MudText>
            <MudCard Style="width:250px;margin:20px;">
                <MudCardMedia Image="https://static.wixstatic.com/media/5bc43a_e8d3d16eefd8470ab97f4eee74f65d9e~mv2.jpg/v1/fill/w_474,h_486,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Logo%20Facilae_edited.jpg" Height="220" />
                <MudCardContent>
					<MudText>Facilite vos migrations et vos paramétrages dans Silae...</MudText>
					<MudButton Class="teal-text text-darken-3" Variant="Variant.Text" EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;" Href="https://www.facilaepaie.com" Target="_blank">
						visiter Facilae Paie
					</MudButton>
                </MudCardContent>
            </MudCard>
        </div>
    </div>

</div>
