<div>
	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
		<ActivatorContent>
			<MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" Href="/"><MudText>Accueil</MudText></MudButton>
		</ActivatorContent>
	</MudMenu>
	
	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true" ActivationEvent="@MouseEvent.MouseOver">
		<ActivatorContent>
			<MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" Href="/Formations" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
				<MudText>Formations</MudText>
			</MudButton>
		</ActivatorContent>
		<ChildContent>
			<MudMenuItem Href="https://abmformation.catalogueformpro.com" Target="_blank">Catalogue en ligne</MudMenuItem>
			<MudMenuItem Href="/Formations/Perfectionnement">Perfectionnement</MudMenuItem>
		</ChildContent>
	</MudMenu>

	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
		<ActivatorContent>
			<MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" Href="/Actualites"><MudText>Actualités</MudText></MudButton>
		</ActivatorContent>
	</MudMenu>
	
	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true" ActivationEvent="@MouseEvent.MouseOver">
		<ActivatorContent>
			<MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" Href="/ABM-Paie" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
				<MudText><b>ABM Paie</b></MudText>
			</MudButton>
		</ActivatorContent>
		<ChildContent>
			<MudMenuItem Href="/ABM-Paie/Organigramme">Organigramme</MudMenuItem>
			<MudMenuItem Href="/ABM-Paie/Equipe">Équipe pédagogique</MudMenuItem>
			<MudMenuItem Href="/ABM-Paie/Assistance">Référente Assistance technique et pédagogique</MudMenuItem>
			<MudMenuItem Href="/ABM-Paie/Handicap">Référente handicap</MudMenuItem>
			<MudMenuItem Href="/ABM-Paie/Indicateurs">Les indicateurs formation</MudMenuItem>
			<MudMenuItem Href="/ABM-Paie/Valeurs">Mes valeurs</MudMenuItem>
		</ChildContent>
	</MudMenu>
	
	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true" ActivationEvent="@MouseEvent.MouseOver" onclick="">
		<ActivatorContent>
			<MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text" Href="/Experience" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
				<MudText>Expérience</MudText>
			</MudButton>
		</ActivatorContent>
		<ChildContent>
			<MudMenuItem Href="resources/ABMq_CV.pdf" Target="_blank">Curriculum vitae</MudMenuItem>
			<MudMenuItem Href="/Experience/Silae">Salariée Silae</MudMenuItem>
			<MudMenuItem Href="/Experience/Chiffres">Formatrice Silae en chiffres</MudMenuItem>
			<MudMenuItem Href="/Experience/Cafel">Étudiante CAFEL</MudMenuItem>
		</ChildContent>
	</MudMenu>

	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true" ActivationEvent="@MouseEvent.MouseOver">
		<ActivatorContent>
			<MudButton Class="indigo lighten-2 white-text" Variant="Variant.Filled" Href="/Contact" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
				<MudText>Contact</MudText>
			</MudButton>
		</ActivatorContent>
		<ChildContent>
			<MudMenuItem Href="/Contact/Rdv">Prise de rendez-vous</MudMenuItem>
			<MudMenuItem Href="/Contact/Coordonnees">Coordonnées (contact)</MudMenuItem>
			<MudMenuItem Href="/Contact/Pages">Mes pages officielles</MudMenuItem>
		</ChildContent>
	</MudMenu>
	
	<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
		<ActivatorContent>
			<MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text"><MudText><b>Partenariats</b></MudText></MudButton>
		</ActivatorContent>
		<ChildContent>
			<MudMenuItem Href="https://www.facilaepaie.com" Target="_blank">Facilae Paie</MudMenuItem>
		</ChildContent>
	</MudMenu>
</div>
